h1 {
    color: black;
    font-size: 70px;
}
h2 {
    background-color: rgb(75, 204, 244);
    color: rgb(0, 94, 255);
    font-size: 40px;
}
p {
    font-size: 30px;

}
label {
    font-size: 30px; 
    width: 100px;
    height: 35;
    margin-bottom: 1px; 
}
input[type="submit"] {
    width: 100px; 
    height: 35px; 
    
}
table {
    width: 50%;
    border-collapse: collapse; 
}

th, td {
    border: 2px solid black; 
    padding: 10px; 
    text-align: center; 
}
.tt {
    text-align: center; 
    vertical-align: middle;
    font-weight: bold;
}
img{
    width: 30%;
    float: right;
}
.tt2 {
    color: rgb(44, 96, 227);
}
.tt3 {
    color: blue;
}
.tt4{
    color: blue;
}
.tt5 {
    font-weight: bold;
}